extends layout

block content
  h1= title
  p Welcome to #{title}
  input#userInput(type="number")
  div
    button#getFeetInMile Get Feet in One Mile
    button#calculateFeetFromMiles Calculate Feet from Miles
    button#calculateCircumference Calculate Circumference
  div
    pre#displayArea
  
